[Unit]
Description=Incognito IMAP reply checker
Requires=incognito.service
After=incognito.service

[Service]
Type=oneshot
EnvironmentFile=-%h/.config/incognito/env
ExecStart=podman exec --env INCOGNITO_PASSWORD incognito incognito check-replies
